.Home {
  width: 100%;
  /* height: 93vh; */

  display: flex;
  flex-direction: column;

  background: rgb(26, 31, 37);
  color: white;
  overflow-y: scroll;
}

.Home header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  background-color: #e6b333;

  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.Home header img {
  width: 30px;
  height: 30px;
  padding: 10px 0;
  padding-left: 20px;
}

.search {
  background: rgb(26, 31, 37);
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
  width: 70%;

  margin: 10px 20px 10px 0;
}

.search img {
  width: 15px !important;
  height: 15px !important;
  opacity: 0.5;
  padding-left: 15px !important;
}

.search input {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);

  margin-left: 10px;

  font-size: 14px;
}

.search input:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.search input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}

/* content */

.Home .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  padding: 5px;
  cursor: pointer;
}

.Home .content li {
  list-style-type: none;
  
  /* padding: 10px 20px; */
  margin: 5px;

  background: rgba(255, 255, 255, 0.05);
  position: relative;
}

.Home .content img {
  width: 180px;
  height: 240px;
  object-fit: cover;
}

.Home .content p {
    color: #e6b333;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;

    bottom: 20px;
    left: 20px;
}

/* footer */

.Home footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 0;
  background: rgb(26, 31, 37);

  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.Home footer div {
  cursor: pointer;
  padding: 10px 40px;
}

.Home footer div:hover {
  opacity: 0.5;
}

.Home footer img {
  width: 20px;
  height: 20px;
}

.Home footer p {
  font-size: 12px;
}
