* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.App header::before {
  content: "";
}

.App header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 15px 0 70px;
}

.App header button {
  padding: 5px 15px;

  border: 1px solid blue;
  background-color: blue;
  color: white;

  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
}

.App header h1 {
  text-align: center;

  padding: 15px 0;
}

.App ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.App ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 15px;
}

.App img {
  width: 150px;
  height: 150px;
  object-fit: cover;

  cursor: pointer;
  /* background-color: gainsboro; */
}

/* item */

.Item .header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
}

.Item .header::after {
  content: "";
}

.Item .header img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.Item h2 {
  text-align: center;
  padding: 15px 0;
}

.Item .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.Item .content img {
  margin: 5px;
}

/* auth */

.Auth {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Auth h3 {
  padding: 10px 0;
  font-size: 24px;
}

.Auth .input {
  background-color: gainsboro;
  padding: 25px 25px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.Auth .input input {
  padding: 10px 20px;
  margin-bottom: 15px;

  border-radius: 15px;
  border: 1px solid blue;
  opacity: 0.5;

  font-size: 16px;
  font-weight: 600;
}

.Auth .input button {
  padding: 8px 0;

  border-radius: 15px;
  border: 1px solid blue;
  background-color: blue;

  font-size: 18px;
  font-weight: 600;

  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.Auth .input button:hover {
  color: blue;
  background-color: white;

  opacity: 0.5;
}